[Unit]
Description=Daemon responsible of disciplining an oscillator based on a 1pps phase error device.

[Service]
Type=simple
ExecStart=/usr/local/bin/oscillatord /etc/oscillatord_%i.conf

[Install]
WantedBy=multi-user.target
